

.index-page {
    position: relative;

    // Global across sections
    h3 {
        line-height: 1.3;
        font-size: 3em;
        text-transform: uppercase;
        font-family: primerprint;
        text-align: center;
        padding-bottom: 1em;
    }

    .header {
        // background: $green;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        background-attachment : fixed;

        // TODO OPTION1
        // background-image: url('/images/team.jpg');
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center bottom 35px;

        // TODO OPTION2
        background-image: url('/images/image3_3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        h1 {
            font-family: primerprint;
            font-weight: 700;
            margin: 0;
            font-size: 8em;
            padding-top: 15%;

            //TODO OPTION2
            color: $white;

        }
    }
    .intro {
        padding-top: 3em;
        padding-bottom: 3em;

        img {
            max-width: 150px;
            margin: 0 auto;
            display: block;
        }
        .row {
            display: flex;
            padding: 3em 0;
            .text-wrap {
                display: flex;
                p{
                    align-self: center;
                    color: $brown;
                    font-family: primerprint;
                    font-size: 18px;
                }
            }
        }
    }
    .team {
        .row1, .row2 {
            display: flex;
            flex-wrap: wrap;
            .team-member {
                flex: 1 1 20%;
                min-height:200px;
                width:100%;
                overflow: hidden;
                position: relative;
                text-align: center;
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                background-color: $brown;
                img {
                    width: 100%;
                    transition: opacity 0.35s, transform 0.35s;
                }
                span {
                    position: absolute;
                    top: 0;
                    padding-top: 50%;
                    left: 0;
                    right: 0;
                    font-family: primerprint;
                    color: $white;
                    visibility: hidden;
                    font-weight: 900;
                    font-size: 17px;
                }
                &:before {
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    -webkit-transform: scale(0,1);
                    transform: scale(0,1);
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    bottom: 30px;
                    left: 30px;
                    content: '';
                    opacity: 0;
                    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                    transition: opacity 0.35s, transform 0.35s;
                    z-index: 1;
                }
                &:after {
                    border-right: 1px solid #fff;
                    border-left: 1px solid #fff;
                    -webkit-transform: scale(1,0);
                    transform: scale(1,0);
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    bottom: 30px;
                    left: 30px;
                    content: '';
                    opacity: 0;
                    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                    transition: opacity 0.35s, transform 0.35s;
                }
                &:hover {
                    cursor: pointer;
                    img {
                        opacity: 0.5;
                        transform: scale(0.9);
                    }
                    span {
                        visibility: visible;
                    }
                    &:before, &:after {
                        opacity: 1;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }
            }
        }
    }

    .testimonials {
        padding: 8em 0;
        #owl-demo .item {
            .customer-said {
                text-align: center;
                font-family: primerprint;
                font-size: 2em;
                padding-bottom: 1em;
            }
            .customer-wrap {
                word-spacing: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                img {
                    max-width: 150px;
                }
                p {
                    max-width: 600px;
                }
            }
        }
    }
}
