.index-page {
    position: relative;

    .header {
        // background: $green;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        // align-items: center;
        // background-image: url('/images/team.jpg') linear-gradient(-160deg,#DF2935 0.00000000000001%, white);
        background-image: url('/images/team.jpg');
        // background-image: url('/images/team.jpg'), linear-gradient(-160deg,#DF2935 0.00000000000001%, white);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom 35px;
        h1 {
            font-family: aracne;
            font-weight: 700;
            margin: 0;
            font-size: 6em;
            padding-top: 2em;
        }
    }
    .intro {
        padding-top: 3em;
        padding-bottom: 3em;
        h3 {
            line-height: 1.3;
            font-size: 3em;
            text-transform: uppercase;
            font-family: primerprint;
            text-align: center;
            padding-bottom: 1em;
        }
        img {
            max-width: 150px;
            margin: 0 auto;
            display: block;
        }
        .row {
            display: flex;
            padding: 5em 0;
            .text-wrap {
                display: flex;
                p{
                    align-self: center;
                    color: $brown;
                    font-family: primerprint;
                    font-size: 18px;
                }
            }
        }
    }
}
